<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/irg/IdeaProjects/DataDriven_Demo/src/test">
        <classes>
            <class name="com.blz.selenium.test.DataDrivenTest">
                <methods>
                    <include name="LoginTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>